*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', serif;
}
.container{
    display: grid;
    grid-template-areas: 'title title title date apply'
                         'title title title location apply'
                         'desc desc desc desc apply';
    width:90%;
    margin: 5%;
    text-align: center;

}
.title{
    background-color: rgba(128,128,128,0.5);
    grid-area: title;
    height:221px;
    min-width:54%;
    width: 100%;
    border-style: solid;
    padding: 2%;
    font-size: 30px;
}
.date{
    background-color: rgba(128,128,128,0.5);
    grid-area: date;
    width:100%;
    min-width: 21%;
    justify-content: center;
    padding-top: 15%;
    border-top-style: solid;
    border-right-style: solid;
}
.location{
    background-color: rgba(128,128,128,0.5);
    grid-area: location;
    width:100%;
    border-bottom-style: solid;
    border-right-style: solid;

}
.desc{
    background-color: rgba(128,128,128,0.5);
    grid-area: desc;
    height:447px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    text-align: left;
    padding-top: 5%;
    padding-left: 1%;
}
.apply{                /*has inline font size*/
    grid-area: apply;
    margin-left:45%;
    margin-top:20%;
    padding: 30px;
    background-color: rgba(128,128,128,0.5);
    border-style: solid;
    border-radius: 50px;
    justify-content: center;
    height: 469px;
    min-width: 60% ;
}
.button {
    background-color: #C4B581;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 45px;
}
.button:hover{
    background-color: #043927;
    color:white;
}
.container>div {
}

.form-container {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #d9d9d9;
    width: 50%;
    border-style: solid;
    margin-left:10%;
    padding: 16px;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
}
.col-25 {flex: 25%;}
.col-50 {flex: 50%;}
.col-75 {flex: 75%;}
.col-100 {flex: 100%;}
.col-25, .col-50, .col-75, .col-100{
    padding:16px;
}
