*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', serif;
}
.container{
    display: grid;
    grid-template-areas: 'back . . .'
                         'title date . apply'
                         'desc desc . apply';
    width:90%;
    margin: 5%;
    text-align: center;
    /*border-style: solid;*/
}

.back{
    grid-area: back;
    width:30%;
    background-color: #C4B581;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 45px;
}
.back:hover{
    background-color: #043927;
    color:white;
}
.title{
    background-color: rgba(128,128,128,0.5);
    grid-area: title;
    width: 100%;
    border-style: solid;
    padding: 2%;
    font-size: 30px;
    margin: 0;
}
.date{
    background-color: rgba(128,128,128,0.5);
    grid-area: date;
    width:100%;
    justify-content: center;
    padding:20px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
}
.location{
    background-color: rgba(128,128,128,0.5);
    grid-area: location;
    width:100%;
    /*border-bottom-style: solid;*/
    /*border-right-style: solid;*/

}
.desc{
    background-color: rgba(128,128,128,0.5);
    grid-area: desc;
    height:80%;
    min-height: 150px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    text-align: left;
    padding-top: 5%;
    padding-left: 1%;
}
.apply{                /*has inline font size*/
    grid-area: apply;
    padding: 30px 5px;
    background-color: rgba(128,128,128,0.5);
    border-style: solid;
    border-radius: 50px;
    justify-content: center;
    height: 350px;
    width: 100%;
    max-width: 260px;
}
.button {
    background-color: #C4B581;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 45px;
}
.button:hover{
    background-color: #043927;
    color:white;
}
.form-container {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #d9d9d9;
    width: 50%;
    border-style: solid;
    margin-left:10%;
    margin-top: 2%;
    padding: 16px;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
}
.col-25 {flex: 25%;}
.col-50 {flex: 50%;}
.col-75 {flex: 75%;}
.col-100 {flex: 100%;}
.col-25, .col-50, .col-75, .col-100{
    padding:16px;
}
.test{
    width:450px;
    background-color: #555555;
}
/* DESKTOP VIEW until screen is px*/
@media screen and (max-width: 600px) {
    .container{
        display: grid;
        grid-template-areas: 'back'
                         'title'
                         'date'
                         'location'
                         'desc'
                         'apply';
        width:90%;
        text-align: left;
        /*border-style: solid;*/
    }
    .apply{
        text-align: center;
        width: 100%;
        margin-top: 5%;
        margin-left: 15%;
    }
    .title{
        font-size: 20px;
    }
    .date{
        border-top-style: none;
        border-left-style: solid;
        padding: 5px;
    }
    .location{
        border-left-style: solid;
    }
}
