@charset "UTF-8";
.averageRating {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
            appearance: none;
    color: transparent;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
    font-size: 40px;
    margin-top: 3%;
    bottom: 37px;
}

.averageRating::before {
    --percent: calc(4/5*100%);
    content: "★★★★★";
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, gold var(--percent), rgba(0, 0, 0, 0.2) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.eventRating {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
            appearance: none;
    color: transparent;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
    font-size: 40px;
    /* margin-top: 3%; */
    /* bottom: 37px; */
}

.eventRating::before {
    --percent: calc(4/5*100%);
    content: "★★★★★";
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, gold var(--percent), rgba(0, 0, 0, 0.2) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


* {
    padding: 0px;
    margin: 0px;
}
.grid {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: minmax(430px, 600px) minmax(430px, 600px) minmax(430px, 600px);
    grid-gap: 30px;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}



.current {
    margin-bottom: 5%;
    padding: 5%;
}

.current p {
    margin: 1%;
}

.currentEvent {
    background-color: white;
    border-color: black;
    border-radius: 50px;
    width: 90%;
    height: 15%;
    margin: auto;
    margin-bottom: 5%;
    text-align: center;
    padding: 1%;
}

.pastEvent {
    background-color: white;
    border-color: black;
    border-radius: 50px;
    width: 90%;
    height: 20%;
    margin: auto;
    margin-bottom: 5%;
    text-align: center;
    padding: 2%;
}




.container{
    background-color: #C4B581;
    /* width: 80%; */
    height: 630px;
    /* margin: 50px; */
    border-radius: 50px;
}
.container_for_info{

    margin: 5.5%;

}
p{
    margin-left: 70%;
    top: 5%;
}
label {
    width: 120px;
    display: inline-block;
}

input {
    width: 210px;
    /* width: 80%; */
}

.pastRating {
    margin: auto;
    color: grey;

}

div.ratingWrapper{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
    color: grey;
}

.ratings{
    display: flex;
}

.ratings span{
    font-size: 50px;
}

.centerText{
    font-size: 30px;
    margin-top: 10%;
    justify-content: center;
    text-align: center;
}

div#info{
    background-color: white;
    width: 350px;
    height: 30px;
    border-radius: 50px;
    /* margin: 10px; */

    position: relative;
    /* top: 10px; */
    /* left: 15px; */

    display: flex;
    align-items: center;
    justify-content: center;
}

div.inputControl input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
}

div.inputControl input:focus {
    outline: 0;
}

/* The success and error both control border color that indicates whether or not the meet the validation */
div.inputControl.success input {
    border-color: #09c372;
}

div.inputControl.error input {
    border-color: #ff3860;
}

/* This controls the error message that pops up when a user fails user validation */
.inputControl .error {
    color: #ff3860;
    position: absolute;
    top: 33px;
}

/* Gets rid of the border colors after a user clicks on save changes */
.inputControl.default input {
    border-color: none;
}

div.header{
    background-color: #008453;
    border-radius: 50px;
    margin: auto;
    margin-bottom: 10%;
    text-align: center;
    justify-content: center;
    font-size: large;
}

.editBtn {
    background-color: #008453;
    width: 40px;
    height: 40px;

    /* position: absolute; */
    /* right: 40px; */
    /* top: 5px; */

    margin-left: 80%;
    /* float: right; */


    /* display: flex; */
    /* padding: 7px; */
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

/* This controls the save changes button info */
#form button {
    color: white;
    background-color: #008453;
    /* border: none; */
    border-radius: 50px;


    /* margin-top: 5%; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.saveChangesBtn {
    /* margin-top: 100px; */
    width: 30%;
    height: 20%;
    border-radius: 50px;

    margin: auto;
    /* align-items: center; */
    /* padding: 5px; */
    cursor: pointer;

    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}

div#info{
    background-color: white;
    /* width: 350px; */
    width: 90%;
    height: 30px;
    /* height: 100%; */
    border-radius: 50px;
    /* margin: 10px; */

    /* position: relative; */
    /* top: 10px; */
    /* left: 15px; */

    display: flex;
    align-items: center;
    justify-content: center;
}




div#textbox {
    /* background-color: white; */
    /* width: 300px; */
    /* width: 80%; */
    /* height: 100px; */
    border-radius: 10px;
    /* margin: auto; */
    margin-left: 5%;
    /* position: relative; */
    /* top: 15px; */
    /* left: 25px; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

/* Makes autofill info white instead of blue */
input:-webkit-autofill  
{
  transition: background-color 5000s;
}

@media only screen and (max-width: 1400px) {
    .grid {
        /* display: grid; */
        grid-template-columns: minmax(430px, 500px) minmax(430px, 500px);
        width: 90%;
        /* margin: auto; */
        margin-top: 10%;
    }
}

/* @media screen and (max-width: 940px) {
    .grid {
        display: grid;
        grid-template-columns: minmax(430px, 500px);
        width: 90%;
        margin: auto;
        margin-top: 10%;
    }    
} */

@media only screen and (max-width:630px) {
    .grid {
        /* display: grid; */
        grid-template-columns: minmax(0, 1fr);
        /* width: 90%; */
        /* margin: auto; */
        margin-top: 10%;
    }    
}