html,

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;

}

header h1 {
  font-size: 30px; /* Adjust the size as needed */
  text-align: center;
  margin-top: 30px;
}

header p {
  font-size: 15px; /* Adjust the size as needed */
  text-align: center;
  margin-top: 5px;
}

body {
  box-sizing: border-box;
  justify-content: center;
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.createAccount
{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  width: 40%;
  height: 100%;
  border-radius: 35px;
  border: 3px solid #000000;
  padding-left: 265px;
  padding-right: 265px;
}

.userLastName
{
  margin-right: 8.5rem;
}

.userFirstName
{
  display: flex;
}

.createAccount .imbededFields
{
  margin: 2rem;
}

.userFirstName
{
  align-items: center;
  justify-content: space-between;  
}

.imbededFields
{
  margin: 2rem;
  font-weight: bold;
  font-size: 16pt;
  align-items: center;
  justify-content: center;
}

.nameFields
{
  width: 250px;
  height: 32px;
  border: 1px solid #000000;
  border-radius: 15px;
  background: transparent;
}

.nameFields input
{
  width: 250px;
  text-indent: 3%;
  font-size: 16pt;
  font-style: italic;
  border: none;
  outline: transparent;
  background: transparent;
}

.userIdField
{
  height: 32px;
  border: 1px solid #000000;
  border-radius: 15px;
  background: transparent;
}

.userIdField input
{
  width: 500px;
  text-indent: 3%;
  font-size: 16pt;
  font-style: italic;
  border: none;
  outline: transparent;
  background: transparent;
}

.userEmailField
{
  height: 32px;
  border: 1px solid #000000;
  border-radius: 15px;
  background: transparent;
}

.userEmailField input
{
  width: 500px;
  text-indent: 3%;
  font-size: 16pt;
  font-style: italic;
  border: none;
  outline: transparent;
  background: transparent;
}

.userPhoneNumberField
{
  height: 32px;
  border: 1px solid #000000;
  border-radius: 15px;
  background: transparent;
}

.userPhoneNumberField input
{
  width: 500px;
  text-indent: 3%;
  font-size: 16pt;
  font-style: italic;
  border: none;
  outline: transparent;
  background: transparent;
}

.PasswordField
{
  height: 32px;
  border: 1px solid #000000;
  border-radius: 15px;
  background: transparent;
}

.PasswordField input
{
  width: 500px;
  text-indent: 3%;
  font-size: 16pt;
  border: none;
  outline: transparent;
  background: transparent;
}

.imbededFields .createAccountButton
{
  text-align: center;
}

.createAccount .createAccountBtn
{
  text-align: center;
  border: none;
  border-radius: 20px;
}

.createAccountBtn
{
  height: 50px;
  width: 300px;
  font-weight: bold;
  background-color: rgba(196, 181, 129, 1);
  color: black;
  font-size: 16pt;

}

.createAccountBtn:hover,
.createAccountBtn:active
{
  background-color: rgba(4, 57, 39, 1);
  color:white;
}

.successPopUp
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 350px;
  border: 3px solid #000000;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  background-color: white;
  transform: translate(-50%, -50%);
}

.successPopUp h1
{
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  font-size: 30pt;
}

.popupBtn
{
  margin-top: 8rem;
  text-align: center;
  border: none;
  border-radius: 20px;
  height: 50px;
  width: 215px;
}

.successPopUp .popupBtn
{
  font-weight: bold;
  background-color: rgba(196, 181, 129, 1);
  color: black;
  font-size: 16pt;
}

.popupBtn:hover,
.popupBtn:active
{
  background-color: rgba(4, 57, 39, 1);
  color:white;
}

.Error
{
  height: 10px;
  padding-top: 10px;
  text-align: left;
  justify-content: center;
  font-size: 12pt;
  font-weight: bold;
  color: red;
}

input:-webkit-autofill  
{
  transition: background-color 5000s;
}